body{
background: #2FA4FF;
font-family: verdana;
}
header{
  background: #F7FFE5;
  text-align: center;
}
li{
  display: flex;
}
.box-main{
  background:#F7FFE5;
  width: 500px;
  height: 400px;
}
/**para las clases de valores absolutos*/
.a.1{
  background:  #F7FFE5;
  width: 300px;
  height: 55px;
}
.a-2{
  background: #F7FFE5;
  margin: 10px;
  width: 1cm;
  height: 2cm;
  font-size: 2.8em;
}
.r-1{
  background: #F7FFE5;
  width: 50%;
  height: 200px;
  margin-top: 10px;
  margin-left: 30px;
}
